<form [formGroup]="loginEntries">
  <div class="loginBack">
    <h6 class="headerText">Magic login</h6>

    <input
      class="loginInputs input"
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <input
      class="loginInputs input"
      id="password"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <button
      class="loginBut buttons"
      [disabled]="!loginEntries.valid"
      type="submit"
      (click)="doLogin()"
    >
      Log in
    </button>
    <p class="text" (click)="doLinksHandlers('forget-password')">Forget password</p>
    <p class="text" (click)="doLinksHandlers('sign-in')">Sign in</p>
  </div>
</form>
